
<h1>List of products</h1>

<input #searchBox id="search-box" (input)="search(searchBox.value)" />
<div>
  <span *ngFor="let category of categories">
    <input type="checkbox" value="{{category.name}}" data-toggle="toggle" (change)="onChange(category)"> {{category.name}}
  </span>
</div>
<br>
<input *ngIf="isLogged()" type="button" value="Добавить" class="btn btn-default" (click)="addProduct()" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Category name</td>
            <td style="width: 100px;">price</td>
            <td>description</td>
            <td>specification</td>
            <td *ngIf="this.isLogged()">specialSpecification</td>
            <td *ngIf="this.isLogged()"></td>
            <td *ngIf="this.isLogged()"></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <ng-template [ngTemplateOutlet]="loadTemplate(product)" 
                        [ngTemplateOutletContext]="{ $implicit: product}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>

<ng-template #simpleTemplate let-product>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.categoryName}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.specification}}</td>
</ng-template>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-product>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.categoryName}}</td>
    <td >{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.specification}}</td>
    <td>{{product.specialSpec}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editProduct(product)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteProduct(product)" class="btn btn-danger" />
    </td>
</ng-template>
   
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="number" [(ngModel)]="editedProduct.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.name" class="form-control" />
    </td>
    <td>
      <!-- <input type="text" [(ngModel)]="editedProduct.categoryName" class="form-control" /> -->
        <select name="language" [(ngModel)]="editedProduct.categoryName">
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
    </td>
    <td>
        <input type="number" [(ngModel)]="editedProduct.price" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedProduct.description" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.specification" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedProduct.specialSpec" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveProduct()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>